@import url(https://necolas.github.io/normalize.css/8.0.1/normalize.css);
* {
    box-sizing: border-box;
}
hr {
    margin: 20px;
}
/* Our team */
.ourTeam {
    padding: 3% 20px;
    text-align: center;
}
.teamItem {
    text-align: center;
}
.teamItem img {
    border-radius: 50% ;
    transition: all 0.2s;
}
.teamItem img:hover {
    opacity: 0.75;
    
}
.teamName {
    font-weight: normal;
    font-size: 25px;
    margin-top: 0;
    margin-bottom: 12px;
}
.teamPosition {
    font-weight: normal;
    font-size: 18px;
}
.teamGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
/*  Our work */
.workGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background-color: rgb(70, 69, 69);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.workItem1 {
    background-color: rgb(141, 56, 56);
    margin: 40px 5px;
}
.workItem1 h3,p {
    padding-left: 25px;
 
}
.workItem1 p {
    margin-bottom: 0px;
}
.workCustomer {
    font-weight: normal;
}
.workTrade {
    font-size: 20px;
}
.workUl {
    list-style: none;
    padding: 0px 25px 10px 25px;
    margin-top: 0px;
}
.workUl li {
    padding-top: 25px;
    font-size: 20px;
}
.txtWhite {
    color: white;
    font-weight: normal;
}
.workGrid img {
    width: 100%;
}
.txtWhite h2 {
    padding-left: 25px;
}
/*     Pricing       */
.pricingGrid {
    display: grid;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    grid-template-columns: 1fr 1fr 1fr;
}
.pricingItem {
    margin: 40px 5px;
    border: 1px grey solid;
}
.pricingItem:hover {
    box-shadow: 0px 0px 19px 7px rgba(0,0,0,0.5);
}
.pricingLi {
    text-align: center;
    list-style: none;
    border-bottom: 1px solid grey;
}
.pricingLib {
    text-align: center;
    list-style: none;
    background-color: black;
    color: white;
    font-weight: bold;
    border-bottom: 1px solid grey;
}
button {
    border: none;
    background-color: cyan;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}
button:hover {
    background-color: grey;
    color: black;
}
.pricingLig {
    text-align: center;
    list-style: none;
    background-color: grey;
    color: white;
    font-weight: bold;
    border-bottom: 1px solid grey;
}
.pricingLigr {
    text-align: center;
    list-style: "";
    background-color: rgb(201, 200, 200);
    color: white;
    font-weight: bold;
}
.pricingCenter li {
    padding: 20px;
}
.pricingCenter {
    text-align: center;
}
.pricingGrid ul {
    margin: 0;
    padding: 0;
}
.cash {
    font-size: 25px;
}
.cash::before {
    font-weight: bold;
    content: "$ "
}
.gray {
    color: gray;
    font-size: 10px;
}