@import url('https://necolas.github.io/normalize.css/8.0.1/normalize.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css');
@import 'reset.css';




/*      Global         */
.unlisted {
    list-style: none;
}
img {
    vertical-align: middle;
    border-style: none;
}
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Poppins",sans-serif;
}
/*      Header        */
.main-header {
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    padding: 0rem 0.8rem;
}
.main-header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
} 
.logo {
    color: black;
    font-size: 2rem;
    padding: 0.7em 0;
}
.main-nav {
    display: flex;
    gap: 1.2rem;
    
}
.burger {
    font-size: 22px;
}

/*      Hero       */
.hero {
    margin-top: 150px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 1rem;
    margin-bottom: 2rem;
}
.hero p {
    color: grey;
}
.hero-img {
    height: auto;
    width: 100%;
    text-align: center;
    justify-content: center;
}
.hero-grid {
    display: grid;
    grid-template-rows:(1fr 1fr 1fr 1fr);
    grid-template-columns: 1fr;
    align-self:center;
    

}
.primary-btn {
    border: none;
    color: white;
    background: #7F00FF;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top right, #E100FF, #7F00FF);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top right, #E100FF, #7F00FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 1rem 2rem;
    cursor: pointer;
    
}
.primary-btn:hover {
    box-shadow: rgba(139, 20, 175, 0.713) 0px 13px 27px -5px, rgba(119, 9, 127, 0.456) 0px 8px 16px -8px;
}
/*         footer       */
.footer {
    padding: 12%;
    background-color:#333;
    color: #fff;
}
.footer p {
    color: grey;
}
.footer-grid {
    display: grid;
    gap: 2rem;
}
.footer-email {
    display: flex;
    position: relative;
}
.email {
    border-radius: 0px;
    border: none;
    padding-left: 20px;
    width: 100%;
    flex-grow: 1;
}
.submit {
    border-radius: 0px;
    border: none;
    padding: 20px 20px;
    cursor: pointer;
    background: #8490ff;
    
}
.social-link {
    padding: 1em;
    font-size: 16px;
}
.social-link:first-child {
    padding-left: 0;
}
@media screen and (min-width: 768px) {
    .hero-grid {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
    .img2 {
        grid-row: 2/3;
    }
    .footer-grid {
        grid-template-columns: 1fr 1fr;
    }
}