@use 'vars' as v;
 /*@use 'vars' as *;*/
@import 'reset';
$primary-color: darkgreen;
$secondary-color: tomato;
$main-font: verdana;


body {
    font-family: $main-font;
    .container {
        h1 {
            font-size: 3rem;
            font-weight: normal;
            color: $primary-color;
        }
        h3 {
            font-size: 2rem;
            color: $secondary-color;
        }
    }
}

@mixin myFlex {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: $gap;
    flex-direction: $direction;
}

.boxes {
    min-height: 400px;
    border: 1px solid v.$primary-color;

    @include: "myFlex";

    .box {
        width: 100px;
        height: 100px;
        background-color: v.$secondary-color;
        border: 1px solid v.$primary-color;
    }
}
.dezes {
    /*@extend .boxes;*/
    border-color: rgba(54, 8, 181, 0.309);
    @include:myFlex($direction: column, $gap: 25px);
}