@use "reset";
@use "common";
@use "vars" as v;

@import url('https://necolas.github.io/normalize.css/8.0.1/normalize.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css');
@import 'reset.css';




//        hero              

.hero {
    padding-top: 6rem;
    padding-bottom: 6rem;
    &__text {
        margin-bottom: 2rem;
    }
    .btn {
        margin-bottom: 1.5rem;
    }
}

//        Features

.features {
    text-align: center;
    
}