@import url(https://necolas.github.io/normalize.css/8.0.1/normalize.css);
html {
    height: 100%;
}
header {
    height: 50px;
    background-color: #333;
    display: flex;
    justify-content: space-between;
    padding: 30px 10%;
    align-items: center;
}
.mainMenu {
    display: flex;
    align-items: center;
    width: 30%;
}
ul {
    justify-content: space-between;
}
.mainMenu > ul {
    display: flex;
    pad: 0px;
    margin: px;
    width: 100%;
}
.mainMenu li {
    list-style-type: none;
}
.mainMenu a {
    list-style-type: none;
}
.logo {
    cursor: pointer;
    height: 100px;
}
.navLinks {
    list-style: none;
}
.navLinks li {
    display: inline-block;
    padding: 0px 20px;
}
.navLinks li a {
    transition: all 0.3s ease 0s;
}
.navLinks li a:hover {
    color: #0088a9;
}
button {
    pad: 9px 25px ;
    background-color: rgba(0,136,169,1);
    border: none;
    border-radius: 50px;
    transition: all 0.3s ease 0s;
    cursor: pointer;
}
button:hover {
    background-color: rgba(0,136,169,0.8);
}
h1 {
    text-align: center;
}
aside {
    width: 20%;
    max-width: 150px;
    min-width: 100px;
    float:left;
}
footer {
    background-color: #333;
    color: white;
    text-align: center;
     min-height: 10vh;
    margin-top: auto;
    padding: 3rem;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightslategray;
    margin: 0;
}
section {
    width: 90vh;
    margin: 0 auto;
    padding: 30px 20px;
    min-height: calc(100vh - 110px - 215.84px);
}
.pagr {
    background-color: #f1f1f1;
}
.gray {
    background-color: gray;
}