@import url(https://necolas.github.io/normalize.css/8.0.1/normalize.css);
@import 'reset.css';
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css);

.container {
    min-width: 1140px;
    padding-top: 2rem;
}
html {
    font-size: 10px;
}
p {
    font-size: 16px;
    color: rgb(149, 147, 147);
}
/*            Section Trip            */
.secTitle {
    font-size: 3.8rem;
    margin-bottom: 0.5em;
    text-align: center;
    font-weight: normal;
}
.secSubTitle {
    min-width: 540px;
    text-align: center;
    margin: 0 auto 4rem;
    line-height: 1.5;
}
.tripGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.6rem;
}
.tripItem {
    background-color: white;
}
.tripDesc {
    padding: 2.7rem 2rem 2.5rem;
}
.tripTitle {
    font-size: 2.2rem;
    margin-bottom: 0.4em;
    font-weight: normal;
}
.pos-rel {
    position: relative;
}
.mb0 {
    margin-bottom: 0;
}
.space-between {
    justify-content: space-between;
}
.tripRating .fa-star, .fa-star-half {
    color: goldenrod;
}
.tripPrice {
    background-color: rgb(89, 173, 173);
    border-radius: 20px;
    padding: 0.2em 0.7em;
    color: white;
    position: absolute;
    top: 2rem;
    left: 2rem;
}