@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"
);
.form {
    background-color: rgb(230, 230, 230);
    width: 50%;
    height: 50%;
    text-align: center;
    
}
.form input, textarea, button {
    border-radius: 20px;
    border: none;
    margin: 10px;
    padding: 10px;
    font-weight: bold;
}
.form input, textarea:focus-visible {
    outline: none;
}
button {
    cursor: pointer;
    background-color: rgb(135, 113, 233);
    color: white;
    padding: 10px 20px;
    text-transform: uppercase;
}
button:hover {
    opacity: 0.7;
    transition: 0.2s;
    padding: 10px 30px;
}
textarea {
    resize: vertical;
}
.te {
    position: relative;
}
.reset {
    position: absolute;
}
fieldset {
    display: flex;
    justify-content: center;
    align-items: center;
}